window {
    background-color: transparent;
}

button {
    border: none;
}

button:hover {
    background-image: none;
    box-shadow: none;
    border-color: transparent;
}

button:hover>image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
}

.highlighted-button>image, .highlighted-button:hover>image {
    -gtk-icon-effect: highlight;
}

/* Remove the active wallpaper highlight in Waypaper */
.wallpaper-preview:selected {
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
}

